.logo {
  height: 36px;
  margin: 0px;
  color: white;
}

.logo img {
  margin-right: 10px;
  width: 40px;
}

.logoText {
  font-size: 20px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}