.logo {
  color: white;
  margin: 10px 0;
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  padding-right: 10px;
  width: 30px;
}

.logo .nav-text {
  // margin: 20px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}